body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  scroll-behavior: smooth;
}

.head-bar {
  background-color: #e4eced;
  display: flex;
  justify-content: space-between;
}
.head-bar h1 {
  color: rgb(26, 18, 6);
  margin-left: 20px;
}
.nav-bar {
  padding: 35px;
}

.nav-bar a {
  color: #333;
  text-decoration: none;
  padding: 20px 2px 20px 2px;
  margin: 0 20px 0 20px;
  cursor: pointer;
}
.nav-bar a:hover {
  text-decoration: underline;
  color: rgb(51, 0, 255);
}

.container-body {
  margin: 0;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer{
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
}